* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans Arabic", sans-serif;
  font-family: "Raleway", sans-serif;
}

main {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
main > .headtop {
  width: 100%;
  height: 90px;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  z-index: 2;
  background-color: white;
}
main > .headtop > .toper {
  width: 100%;
  height: 37%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(78, 78, 78);
}
main > .headtop > .toper > section {
  width: 20%;
  height: 100%;
  margin-left: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
main > .headtop > .toper > section > figure {
  width: 33%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-right: 1px solid grey;
}
main > .headtop > .toper > section > figure:nth-of-type(3) {
  border: none;
}
main > .headtop > .toper > section > figure:nth-of-type(3) > img {
  width: 60%;
}
main > .headtop > .toper > section > figure > img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
main > .headtop > .toper > div {
  width: 15%;
  height: 100%;
  margin-right: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
main > .headtop > .toper > div > h5 {
  width: 50%;
  height: 100%;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  cursor: pointer;
}
main > .headtop > .lower {
  width: 80%;
  height: 63%;
  margin-left: 130px;
  display: flex;
  flex-wrap: wrap;
}
main > .headtop > .lower > figure {
  width: 10%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
}
main > .headtop > .lower > figure > img {
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
main > .headtop > .lower > nav {
  width: 70%;
  height: 100%;
}
main > .headtop > .lower > nav > ul {
  width: 100%;
  height: 100%;
  display: flex;
}
main > .headtop > .lower > nav > ul > li {
  list-style-type: none;
  width: 16%;
  height: 100%;
}
main > .headtop > .lower > nav > ul > li:hover .sub {
  opacity: 1;
  visibility: visible;
}
main > .headtop > .lower > nav > ul > li > .sub {
  width: 100%;
  height: auto;
  position: relative;
  opacity: 0;
  transition: 0.4s;
  visibility: hidden;
  z-index: 1;
  border: 1px solid black;
  background-color: white;
}
main > .headtop > .lower > nav > ul > li > .sub > li {
  width: 100%;
  height: 10%;
  position: relative;
  font-weight: bold;
  list-style-type: none;
  cursor: pointer;
  padding: 15px 0px 15px 20px;
}
main > .headtop > .lower > nav > ul > li > .sub > li > a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
main > .headtop > .lower > nav > ul > li > .sub > li:hover {
  background-color: rgb(202, 202, 202);
}
main > .headtop > .lower > nav > ul > li > .sub > li:hover .subsub {
  opacity: 1;
  visibility: visible;
}
main > .headtop > .lower > nav > ul > li > .sub > li > .subsub {
  transition: 0.4s;
  width: 120px;
  height: auto;
  position: absolute;
  top: 0;
  text-transform: capitalize;
  background-color: white;
  left: 100%;
  opacity: 0;
  visibility: hidden;
  border: 1px solid black;
}
main > .headtop > .lower > nav > ul > li > .sub > li > .subsub > li {
  width: 100%;
  list-style-type: none;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  transition: 0.4s;
  text-transform: capitalize;
}
main > .headtop > .lower > nav > ul > li > .sub > li > .subsub > li:hover {
  background-color: rgb(202, 202, 202);
}
main > .headtop > .lower > nav > ul > li > .sub > li > .subsub > li > a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  display: flex;
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  border-bottom: 1px solid black;
}
main > .headtop > .lower > nav > ul > li > .sub > li > .subsub > li > a:hover {
  background-color: rgb(202, 202, 202);
}
main > .headtop > .lower > nav > ul > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  text-transform: capitalize;
  color: black;
}
main > .headtop > .lower > nav > ul > li > a:hover {
  background-color: rgb(201, 201, 201);
}
main > .headtop > .lower > section {
  width: 20%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
main > .headtop > .lower > section > h2 {
  width: 33%;
  height: 100%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: capitalize;
}
main > .headtop > .lower > section > h3,
main > .headtop > .lower > section > span {
  width: 33%;
  height: 100%;
  font-size: 18px;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
main > .headtop > .lower > section > h3 > i,
main > .headtop > .lower > section > span > i {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main > .headtop > .acc {
  width: 100%;
  height: 50px;
  background-color: rgb(1, 94, 197);
  display: flex;
  justify-content: center;
  align-items: center;
}
main > .headtop > .acc > a {
  width: 500px;
  height: 100%;
  color: white;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
main .slide {
  transform: translateX(-2000px);
  width: 100%;
  height: 90vh;
  background-image: url(../images/slide/qvik009efxm7x7ir-0_0_desktop_0_1X.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 140px;
  left: 0;
  animation: slide 0.8s linear 0.4s forwards alternate;
}
main .slide > h2 {
  font-size: 60px;
  color: black;
  position: absolute;
  top: 140px;
  font-weight: bolder;
  left: 50px;
}
main .slide > h3 {
  font-size: 50px;
  color: black;
  position: absolute;
  top: 220px;
  left: 50px;
}
main .slide > p {
  width: 40%;
  font-size: 20px;
  position: absolute;
  top: 290px;
  left: 50px;
  text-align: left;
}
main .slide > button {
  width: 120px;
  text-transform: capitalize;
  background-color: rgba(228, 227, 232, 0);
  height: 10px;
  position: absolute;
  top: 390px;
  left: 50px;
  display: flex;
  justify-content: start;
  align-items: start;
  border: none;
  border-bottom: 1px solid black;
  padding: 20px;
  cursor: pointer;
}
main .slide > button:hover {
  background-color: rgb(228, 227, 232);
}
main .slide1 {
  color: white;
  transform: translateX(-2000px);
  width: 100%;
  height: 90vh;
  background-image: url(../images/slide/mp6yp3vpyexlzbza-0_0_desktop_0_1X.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 140px;
  left: 0;
  animation: slide 0.9s linear 6.2s forwards alternate;
}
main .slide1 > h2 {
  font-size: 60px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 90px;
  font-weight: bolder;
  left: 50px;
}
main .slide1 > h3 {
  font-size: 50px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 160px;
  left: 50px;
}
main .slide1 > p {
  width: 40%;
  font-size: 20px;
  position: absolute;
  top: 220px;
  left: 50px;
  text-align: left;
}
main .slide1 > button {
  width: 120px;
  text-transform: capitalize;
  background-color: rgba(228, 227, 232, 0);
  height: 10px;
  position: absolute;
  color: white;
  top: 350px;
  left: 50px;
  display: flex;
  justify-content: start;
  align-items: start;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  padding: 20px;
  cursor: pointer;
}
main .slide1 > button:hover {
  background-color: rgb(228, 227, 232);
}
main .slide2 {
  color: white;
  transform: translateX(-2000px);
  width: 100%;
  height: 90vh;
  background-image: url(../images/slide/20201028111043.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 140px;
  left: 0;
  animation: slide 0.9s linear 12.2s forwards alternate;
}
main .slide2 > h2 {
  font-size: 60px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 20px;
  font-weight: bolder;
  left: 55%;
}
main .slide2 > h3 {
  font-size: 50px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 100px;
  left: 55%;
}
main .slide2 > p {
  width: 40%;
  font-size: 20px;
  position: absolute;
  top: 170px;
  left: 55%;
  text-align: left;
}
main .slide2 > button {
  width: 120px;
  text-transform: capitalize;
  background-color: rgba(228, 227, 232, 0);
  height: 10px;
  position: absolute;
  color: white;
  top: 240px;
  left: 55%;
  display: flex;
  justify-content: start;
  align-items: start;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  padding: 20px;
  cursor: pointer;
}
main .slide2 > button:hover {
  background-color: rgb(228, 227, 232);
}
main .slide3 {
  color: white;
  transform: translateX(-2000px);
  width: 100%;
  height: 90vh;
  background-image: url(../images/slide/1111.webp);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 140px;
  left: 0;
  animation: slide 0.9s linear 16.2s forwards alternate;
}
main .slide3 > h2 {
  font-size: 60px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 20px;
  font-weight: bolder;
  left: 15%;
}
main .slide3 > h3 {
  font-size: 50px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 100px;
  left: 15%;
}
main .slide3 > p {
  width: 40%;
  font-size: 20px;
  position: absolute;
  top: 170px;
  left: 15%;
  text-align: left;
}
main .slide3 > button {
  width: 120px;
  text-transform: capitalize;
  background-color: rgba(228, 227, 232, 0);
  height: 10px;
  position: absolute;
  color: white;
  top: 240px;
  left: 15%;
  display: flex;
  justify-content: start;
  align-items: start;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  padding: 20px;
  cursor: pointer;
}
main .slide3 > button:hover {
  background-color: rgb(228, 227, 232);
}
main .slide4 {
  color: rgb(0, 0, 0);
  transform: translateX(-2000px);
  width: 100%;
  height: 90vh;
  background-image: url(../images/slide/222.webp);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 140px;
  left: 0;
  animation: slide 0.9s linear 21.2s forwards alternate;
}
main .slide4 > h2 {
  font-size: 60px;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 20px;
  font-weight: bolder;
  left: 15%;
}
main .slide4 > h3 {
  font-size: 50px;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 100px;
  left: 15%;
}
main .slide4 > p {
  width: 40%;
  font-size: 20px;
  position: absolute;
  top: 170px;
  left: 15%;
  color: black;
  text-align: left;
}
main .slide4 > button {
  width: 120px;
  text-transform: capitalize;
  background-color: rgba(228, 227, 232, 0);
  height: 10px;
  position: absolute;
  color: rgb(0, 0, 0);
  top: 240px;
  left: 15%;
  display: flex;
  justify-content: start;
  align-items: start;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 20px;
  cursor: pointer;
}
main .slide4 > button:hover {
  background-color: rgb(228, 227, 232);
}
main > .photos {
  width: 100%;
  height: 100vh;
  margin-top: 810px;
  background-image: url(../images/body/1.webp);
  background-size: cover;
  background-position: center;
  position: relative;
}
main > .photos > div {
  position: absolute;
  top: 25%;
  left: 64%;
  width: 500px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
}
main > .photos > div > h2 {
  width: 100%;
  height: 50%;
  font-size: 40px;
  color: rgb(175, 37, 175);
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
main > .photos > div > h4 {
  width: 100%;
  height: 50%;
  font-size: 20px;
  color: white;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
main aside {
  width: 100%;
  height: 1650px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
main aside > div {
  margin: 3px;
  width: 49%;
  height: 550px;
  cursor: pointer;
  transition: 0.4s;
}
main aside > div:hover {
  scale: 1.02;
  border: 1px solid black;
}
main aside > div:nth-of-type(1) {
  background-image: url(../images/body/2.webp);
  background-size: cover;
  background-position: center;
}
main aside > div:nth-of-type(2) {
  background-image: url(../images/body/3.webp);
  background-size: cover;
  background-position: center;
}
main aside > div:nth-of-type(3) {
  background-image: url(../images/body/4.webp);
  background-size: cover;
  background-position: center;
}
main aside > div:nth-of-type(3) > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: rgba(218, 69, 218, 0.96);
  transform: translateY(100px);
}
main aside > div:nth-of-type(4) {
  background-image: url(../images/body/5.webp);
  background-size: cover;
  background-position: center;
}
main aside > div:nth-of-type(4) > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: rgba(218, 69, 218, 0.96);
  transform: translateY(100px);
}
main aside > div:nth-of-type(5) {
  background-image: url(../images/body/6.jpg);
  background-size: cover;
  background-position: center;
}
main aside > div:nth-of-type(6) {
  background-image: url(../images/body/7.webp);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
main aside > div:nth-of-type(6) > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: rgba(218, 69, 218, 0.96);
  transform: translate(-160px, -120px);
}
main > .camp {
  width: 100%;
  height: 90vh;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main > .camp > h2 {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  transform: translateY(-90px);
  text-transform: capitalize;
}
main > .camp > button {
  width: 140px;
  height: 30px;
  border: none;
  background-color: rgba(240, 248, 255, 0);
  font-size: 22px;
  transform: translate(500%, -210px);
  cursor: pointer;
}
main > .camp > button:hover::after {
  width: 100%;
}
main > .camp > button::after {
  width: 0;
  height: 3px;
  background-color: black;
  content: "";
  position: absolute;
  left: 0;
  transition: 0.5s;
  bottom: -5px;
}
main > .camp > div {
  width: 29%;
  height: 50%;
  transform: translateX(-80px) translateY(-60px);
  position: relative;
}
main > .camp > div > h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 222222;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 50px;
  opacity: 0;
  font-weight: bolder;
  transition: 0.9s;
}
main > .camp > div:hover h2 {
  opacity: 1;
}
main > .camp > div:hover::after {
  opacity: 1;
}
main > .camp > div:hover img {
  scale: 1.5;
}
main > .camp > div:hover::before {
  background-color: purple;
  color: white;
}
main > .camp > div::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.708);
  position: absolute;
  transition: 0.5s;
  opacity: 0;
  top: 0;
  left: 0;
}
main > .camp > div::before {
  width: 100%;
  height: 50px;
  position: absolute;
  top: -50px;
  border: 1px solid rgba(115, 115, 115, 0.332);
  border-bottom: none;
  left: 0;
  font-size: 30px;
  font-weight: bold;
  transition: 0.6s;
  content: "Bardia ";
  display: flex;
  justify-content: center;
  align-items: center;
}
main > .camp > div > figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
main > .camp > div > figure > img {
  width: 100%;
  height: 100%;
  transition: 0.7s;
  -o-object-fit: cover;
     object-fit: cover;
}
main > .news {
  width: 100%;
  height: 60vh;
  display: grid;
  grid-template-areas: "a a a a a b b c c " "a a a a a b b c c " "a a a a a d d e e " "a a a a a d d e e ";
}
main > .news > div {
  border: 1px solid black;
  margin: 3px;
  background-color: black;
  position: relative;
}
main > .news > div:nth-of-type(1) {
  grid-area: a;
}
main > .news > div:nth-of-type(1) > h2 {
  position: absolute;
  bottom: 25%;
  left: 20px;
  color: white;
}
main > .news > div:nth-of-type(1) > p {
  font-size: 12px;
  position: absolute;
  bottom: 10%;
  left: 20px;
  color: white;
}
main > .news > div:nth-of-type(2) {
  grid-area: b;
}
main > .news > div:nth-of-type(2) > h2 {
  position: absolute;
  bottom: 60%;
  left: 20px;
  color: white;
}
main > .news > div:nth-of-type(2) > p {
  font-size: 12px;
  position: absolute;
  bottom: 10%;
  left: 20px;
  color: white;
}
main > .news > div:nth-of-type(3) {
  grid-area: c;
}
main > .news > div:nth-of-type(3) > h2 {
  position: absolute;
  bottom: 60%;
  left: 20px;
  color: white;
}
main > .news > div:nth-of-type(3) > p {
  font-size: 12px;
  position: absolute;
  bottom: 10%;
  left: 20px;
  color: white;
}
main > .news > div:nth-of-type(4) {
  grid-area: d;
}
main > .news > div:nth-of-type(4) > h2 {
  position: absolute;
  bottom: 60%;
  left: 20px;
  color: white;
}
main > .news > div:nth-of-type(4) > p {
  font-size: 12px;
  position: absolute;
  bottom: 10%;
  left: 20px;
  color: white;
}
main > .news > div:nth-of-type(5) {
  grid-area: e;
}
main > .news > div:nth-of-type(5) > h2 {
  position: absolute;
  bottom: 60%;
  left: 20px;
  color: white;
}
main > .news > div:nth-of-type(5) > p {
  font-size: 12px;
  position: absolute;
  bottom: 10%;
  left: 20px;
  color: white;
}
main > .social {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main > .social > div {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgb(136, 136, 136);
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
main > .social > div > a {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  text-decoration: none;
  background-color: rgb(136, 136, 136);
  display: flex;
  justify-content: center;
  align-items: center;
}
main > .social > div > a > i {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@keyframes slide {
  0% {
    transform: translateX(-2000px);
  }
  70% {
    transform: translateX(-2000px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes grid {
  from {
    transform: translateX(-10000px);
  }
  to {
    transform: translateX(0);
  }
}/*# sourceMappingURL=master.css.map */