* {
    font-family: 'Pathway Extreme', sans-serif;
}

.bg1 {
    background-image: url(../img/wlc-bg1.jpg);
}

.bg2 {
    background-color: rgb(33, 33, 41);
}

.headtop {
    height: 60px;
    background-color: rgb(33, 33, 41);
    color: rgb(247, 201, 35);
    // border-bottom: 1px solid rgba(255, 255, 255, 0.695);
    .menu {
        color: rgb(236, 234, 234);

        >li {
            position: relative;
            list-style-type: none;

            &:hover .submenu {
                opacity: 1;
                visibility: visible;
            }

            &:hover>a {
                color: rgb(247, 201, 35);
                border-bottom: 1px solid rgb(247, 201, 35);
            }

            >a {
                text-decoration: none;
                color: inherit;
                transition: .6s;
                text-transform: capitalize;
            }

            .submenu {
                background-color: rgb(33, 33, 41);
                position: absolute;
                left: 0;
                top: 102%;
                width: 115%;
                opacity: 0;
                border: 1px solid rgba(255, 255, 255, 0.821);
                visibility: hidden;
                transition: .4s;

                >li {
                    list-style-type: none;
                    color: rgb(255, 255, 255);
                    border-bottom: 1px solid rgba(255, 255, 255, 0.745);

                    >a {
                        text-decoration: none;
                        color: inherit;
                        transition: .4s;
                        font-size: 15px;
                        font-weight: bolder;
                    }

                    &:nth-of-type(1):hover>a {
                        color: rgb(196, 65, 187);
                        background-color: rgb(58, 58, 71);

                    }

                    &:nth-of-type(2):hover>a {
                        color: rgb(68, 140, 228);
                        background-color: rgb(58, 58, 71);

                    }

                    &:nth-of-type(3):hover>a {
                        color: rgb(254, 141, 4);
                        background-color: rgb(58, 58, 71);

                    }
                }
            }
        }
    }
}

//slide//
.slide {
    height: 100vh;
    background-color: rgb(33, 33, 41);
    padding-top: 50px;



    figure {
        height: 500px;

        img {
            // background-color: rgba(37, 37, 63, 0.684);
            border: 1px solid white;
            background-image: url(../img/wlc-bg1.jpg);
            border-radius: 26px;

            @media screen and (min-width:993px) {
                height: 70%;
            }

            @media screen and (min-width:1201px) {
                height: 90%;
            }
        }
    }

    section {
        padding-top: 60px;
        height: 100%;
        color: white;
        background-color: rgb(33, 33, 41);
        padding: 15px;

        h3 {
            height: 100px;
        }

        h2 {
            height: 100px;

            >strong {
                color: rgb(247, 201, 35);
                font-weight: bolder;

            }
        }

        h5 {
            height: 100px;
        }

        h1 {
            color: rgb(255, 255, 255);
            font-size: 42px;
            font-weight: bolder;
            text-shadow: 2px 2px 10px rgba(77, 77, 77, 0.558);
            letter-spacing: 7px;
            animation: typer 5s steps(24) infinite, blink 1s ease-in-out infinite;
            border-right: 2px solid rgb(197, 45, 45);
            overflow: hidden;
            white-space: nowrap;

            @media screen and (max-width:768px) {
                font-size: 20px;
                word-spacing: 1px;
                letter-spacing: 3px;
            }
        }
    }
}


//about//

.abt {
    height: auto;
    background-color: rgb(33, 33, 41);

    section {
        height: 100vh;
        h4 {
            font-size: 16px;

            >a {
                text-decoration: none;
                color: white;
                transition: .4s;

                &:hover {
                    color: orange;
                }
            }

            &:nth-of-type(5) {
                @media screen and (max-width:992px) {
                    font-size: 13px;
                }
            }
        }
    }



    .skills {
        margin-top: 60px;
        margin-bottom: 100px;
        height: auto;
        background-color: rgb(33, 33, 41);

        .box {
            background-color: rgba(221, 221, 221, 0.808);
            cursor: pointer;
            overflow: hidden;
            transition: .4s;
            height: 300px;
            border-radius: 30px;
            position: relative;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.611);
            @media screen and (max-width:768px) {
                height: 220px;

            }

            &:hover {
                background-color: white;
                box-shadow: 3px 3px 10px rgb(0, 0, 0);
            }

            &:hover img {
                scale: 1.2;
                transform: translateY(12px) rotateZ(360deg);
            }

            &:nth-of-type(1)::after {
                position: absolute;
                left: 0;
                bottom: 43%;
                width: 100%;
                content: '';
                height: 23px;
                background-image:linear-gradient(to right, green 97%, white 3%)
            }

            &:nth-of-type(2)::after {
                position: absolute;
                left: 0;
                bottom: 43%;
                width: 100%;
                content: '';
                height: 23px;
                background-image:linear-gradient(to right, rgb(133, 212, 15) 90%, white 10%)
            }

            &:nth-of-type(3)::after {
                position: absolute;
                left: 0;
                bottom: 43%;
                width: 100%;
                content: '';
                height: 23px;
                background-image:linear-gradient(to right, greenyellow 83%, white 17%)
                
            }

            &:nth-of-type(4)::after {
                position: absolute;
                left: 0;
                bottom: 43%;
                width: 100%;
                content: '';
                height: 23px;
                background-image:linear-gradient(to right, rgb(235, 255, 59) 60%, white 40%)
            }

            &:nth-of-type(5)::after {
                position: absolute;
                left: 0;
                bottom: 43%;
                width: 100%;
                content: '';
                height: 23px;
                background-color: rgb(255, 255, 255);
            }

            &:nth-of-type(6)::after {
                position: absolute;
                left: 0;
                bottom: 43%;
                width: 100%;
                content: '';
                height: 23px;
                background-color: rgb(255, 255, 255);
            }

            &:nth-of-type(7)::after {
                position: absolute;
                left: 0;
                bottom: 43%;
                width: 100%;
                content: '';
                height: 23px;
                background-color: rgb(255, 255, 255);
            }

            img {
                transition: .4s;
            }
            >h3{
                @media screen and (max-width:768px){
                    font-size: 17px;
                }
            }
            >h5 {
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                font-weight: bolder;
                font-size: 20px;
                @media screen and (max-width:768px){
                    font-size: 15px;
                }
            }
        }
    }
}


//portfolio//


.prt{
    margin-top: 200px;
    height: auto;
    background-color: rgb(33, 33, 41);

    
    .box {
        cursor: pointer;
        overflow: hidden;
        transition: .4s;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        align-content:space-around;
        justify-content: center;
        height: 300px;
        margin: 50px 0;
        border-radius: 30px;
        position: relative;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.611);
        &::after{
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            position: absolute;
            top: 0;left: -100%;
            transition: 1s;
            
        }
        &:hover::after{
            left: 0;
        }
        &:hover button{
            opacity: 1;
            visibility: visible;
        }
        &:hover h5{
            opacity: 1;
        }

        &:nth-of-type(1){
            
            background-image: url(../img/portfolio/nike.png);
            background-size: cover;
            background-position: center;
        
        
        
        }
        &:nth-of-type(2){

            background-image: url(../img/portfolio/Engineering.png);
            background-size: cover;
            background-position: center;

        }
        &:nth-of-type(3){

            background-image: url(../img/portfolio/Realstate.png);
            background-size: cover;
            background-position: center;

        }
        &:nth-of-type(4){

            background-image: url(../img/portfolio/Snappfood.png);
            background-size: cover;
            background-position: center;

        }
        &:nth-of-type(5){

            background-image: url(../img/portfolio/applenic.png);
            background-size: cover;
            background-position: center;

        }
        &:nth-of-type(6){

            background-image: url(../img/portfolio/Asus.png);
            background-size: cover;
            background-position: center;

        }
        &:nth-of-type(7){

            background-image: url(../img/portfolio/trickmenu1.png);
            background-size: cover;
            background-position: center;

        }
        &:nth-of-type(8){

            background-image: url(../img/portfolio/cards.png);
            background-size: cover;
            background-position: center;

        }


        >h5{
            width: 100%;
            height: 50%;
            font-size: 20px;
            color: white;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            text-transform: capitalize;
            z-index: 1;
            opacity: 0;
            transition: 1s;
        }
        >button{
            width: 100%;
            height: 40px;
            border: none;
            background-color: rgba(0, 0, 0, 0.778);
            transition: 1s;
            margin-top: 20px;
            position: relative;
            color: white;
            z-index: 1;
            opacity: 0;
            visibility: hidden;
            &:hover{
                background-color: rgba(255, 255, 255, 0.81);
                color: black;
            }
            >a{
                text-decoration: none;
                color: inherit;
                font-size: 20px;
            }
        }
    }
}

//contact//


.cnt{
    margin-top: 200px;
    height: auto;
    background-color: rgb(33, 33, 41);

    figure{
        height: 60vh;
        img{
            height: 100%;
        }
    }

    .available{
        font-weight: bold;
        margin-left: 40px;
        background-color: rgb(33, 33, 41);
        height: 50vh;
        display: flex;
        justify-content: space-evenly;
        p{
            font-size: 27px;
            font-weight: bolder;
            padding: 10px;
            color: white;
        }
        h4 {
            color: white;
            @media screen and (max-width:768px) {
                font-size: 14px;
            }

            @media screen and (min-width:769px) {
                font-size: 18px;
            }

            @media screen and (min-width:993px) {
                font-size: 20px;
            }
            &:hover>a{
                color: rgb(0, 110, 255);
            }
            >i{
                color: rgb(255, 185, 79);
            }
            >a {
                font-weight: lighter;
                text-decoration: none;
                transition: .4s;
                color: rgb(226, 226, 226);
            }
        }
    }
}

//footer//
.foot{
    margin: 0;
    width: 100%;
    margin-top: 100px;
    footer{
        background-color: rgb(43, 44, 50);
        color: white;
        height: 60px;
        transition: .4s;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &::after{
            content: 'Make a wish , i will CODE it !';
            width: 0%;
            height: 30px;
            color: white;
            background-color: rgb(153, 25, 25);
            white-space: nowrap;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: -20px;
            left: 0;
            overflow: hidden;
            animation: footerafter alternate infinite linear 7s;
        }
        &:hover{
            height: 120px;

        }
        &:hover>h4{
            color: yellowgreen;
        }
        h4{
            font-size: 17px;
        }
    }
}








//animations//

@keyframes typer {
    from {
        width: 0ch;
    }

    to {
        width: 20ch;
    }
}

@keyframes blink {
    from {
        border-right: 2px solid rgb(255, 20, 147, 0);
    }

    to {
        border-right: 2px solid rgb(197, 45, 45);
    }
}